:root{
  --alto: 100vh;
}

#main-container{
  display: flex;
  flex-direction: row;
}

#editor{
  padding: 14px;
  min-height: var(--alto);
  height: 100%;
  resize:none;
  border: none;
  min-width: 30vw;
  background-color: black;
  color: #fff;
}

.scrollbar{
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar{
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

.scrollbar::-webkit-scrollbar-thumb{
  background-color: rgb(59, 59, 59);
  cursor: pointer;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track{
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

body::-webkit-scrollbar{
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(59, 59, 59);
  cursor: pointer;
  border-radius: 10px;
  position: fixed;
}

body::-webkit-scrollbar-track{
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

body::-webkit-scrollbar-corner{
  background-color: rgb(37, 37, 37);
}

#editor:focus{
  border: none
}

#preview{
  padding-left: 15px;
  background-color: black;
  min-width: calc(100vw - 30vw);
  min-height: var(--alto);
}

#output-text{
  padding:14px;
  background-color: black;
  color: white;
  min-height: var(--alto);
  height: 100%;
}

#preview code{
  background-color: rgb(59, 59, 59);
}

#preview pre{
  padding: 5px;
  background-color: rgb(59, 59, 59);
  margin: 5px 0px 5px 0px;
}

a{
  color:rgb(157, 109, 201)
}
table{
  border: 2px solid #fff;
}
th{
  padding-left: 5px;
  padding-right: 5px;
}
td{
  padding-left: 5px;
  padding-right: 5px;
}

#preview img{
  margin-top: 5px;
  max-width: 60vw;
}
